
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://media.istockphoto.com/id/1465178342/es/foto/vista-a%C3%A9rea-de-la-planta-de-tratamiento-de-agua-potable.jpg?s=1024x1024&w=is&k=20&c=KmpcNuxVqYsLo3lHOnEnKkZALa3FlCo3rjwEQgUYCuk="
          class="card-img-top"
          alt="Producto 1"
        />
        <div class="card-body">
          <h5 class="card-title">Producto 1</h5>
          <p class="card-text">Descripción breve del producto 1.</p>
          <a href="#" class="btn btn-primary">Comprar ahora</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://media.istockphoto.com/id/1889510378/es/foto/redes-sociales-mejoradas-por-ia.jpg?s=612x612&w=0&k=20&c=I79pePM5qCp9-n1sEWAqfsLah3wRu7WM1tnD_tx1N30="
          class="card-img-top"
          alt="Producto 2"
        />
        <div class="card-body">
          <h5 class="card-title">Producto 2</h5>
          <p class="card-text">Descripción breve del producto 2.</p>
          <a href="#" class="btn btn-primary">Comprar ahora</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://media.istockphoto.com/id/1437903456/es/foto/l%C3%ADneas-de-conexi%C3%B3n-emergentes-sobre-calles-y-rascacielos-5g-transferencia-de-datos-finanzas-y.jpg?s=1024x1024&w=is&k=20&c=auMB0nenHdBI8GNvrMxj78_QeUF7Pq2aN5R7bOoJpuU="
          class="card-img-top"
          alt="Producto 3"
        />
        <div class="card-body">
          <h5 class="card-title">Producto 3</h5>
          <p class="card-text">Descripción breve del producto 3.</p>
          <a href="#" class="btn btn-primary">Comprar ahora</a>
        </div>
      </div>
    </div>
  </div>
