<div class="container">
    <div class="jumbotron mt-4">
      <h1 class="display-4">Nuestros Servicios</h1>
      <p class="lead">Explora nuestros servicios más populares y descubre lo que tenemos para ofrecer.</p>
      <hr class="my-4">
      <div class="row">
        <!-- Producto 1 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="https://servihumano.org/assets/img/team/team-1.jpg" class="card-img-top" alt="Producto 1">
            <div class="card-body">
              <h5 class="card-title">Consultoría en tecnología</h5>
              <p class="card-text">Asesoramiento sobre cómo utilizar la tecnología de la información para lograr los objetivos empresariales</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <!-- Producto 2 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="https://servihumano.org/assets/img/team/team-2.jpg" class="card-img-top" alt="Producto 2">
            <div class="card-body">
              <h5 class="card-title">Services Desk</h5>
              <p class="card-text">En caso de que surjan problemas, nuestro equipo de expertos está disponible las 24 horas del día para brindar soluciones rápidas y eficaces</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <!-- Producto 3 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="https://servihumano.org/assets/img/team/team-4.jpg" class="card-img-top" alt="Producto 3">
            <div class="card-body">
              <h5 class="card-title">Infraestructura de tecnología</h5>
              <p class="card-text">Implementación y administración de sistemas de redes, servidores, equipos de computo e impresoras.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
